/* CSS for pdf */

pre {
    margin-left:3% !important;
    margin-right:3% !important;
    max-width:94% !important;
    border-style: solid !important;
    border-color: grey !important;
    border-width: 1px !important;
}

code {
    word-wrap:break-word;
}
