body {
     font-family: Arial, Helvetica, sans-serif;
}

pre {
    margin-left:3% !important;
    margin-right:3% !important;
    max-width:94% !important;
    border-style: solid !important;
    border-color: grey !important;
    border-width: 1px !important;
}

code {
    word-wrap:break-word;
}

.code-block {
    background-color: ##f7f7f7;
    font-size: 12px !important;
    font-weight: 500;
    margin-left: 23px;
    margin-bottom: -10px;
    margin-right: 24px;
    border-right-color: 1px;
    border-style: solid !important;
    border-color: grey !important;
    border-width: 1px !important;
}

.code-line-highlight {background-color: #ffff00;}
